 <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>About</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                        <li class="active">About</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title -->   

    <section id="about-us" class="container main">
        <div class="row-fluid">
            <div class="span6">
                <h2>Joanne Wojcik</h2>
                <p>
Main role of Joanne Wojcik is helping executives at midsize firms address people risks, such as benefits, workers comp and professional liability, property and liability risks, including insurance and loss control, and operational growth risks such as M&A and product development.</p>
            </div>
            <div class="span6">
                <h2></h2>
                <div style="margin-top:61px">
                    <img src="/assets/template/sample/about.jpg" style="width:400px;height:260px">
																 </div>
                </div>
            </div>
        </div>

</section>

 